.chatlist-container {
    flex: 1;
    overflow: scroll;
}

.chatlist-search {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.chatlist-searchbar {
    flex: 1;
    background-color: rgba(123, 137, 163, 0.5);
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    padding: 10px;
}

.chatlist-input {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    flex: 1;
}

.chatlist-img {
    width: 20px;
    height: 20px;
}

.chatlist-add {
    width: 36px;
    height: 36px;
    background-color: rgba(123, 137, 163, 0.5);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.chatlist-item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #dddddd35;
}

.chatlist-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.chatlist-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chatlist-text span {
    font-weight: 500;
}

.chatlist-text p {
    font-size: 14px;
    font-weight: 300;
}
